.mobile {
    display: none;
}

@media screen and (max-width: 1023px) {
    #about-content {
        @include transform(translateX(0));
        width: 100%;

        .description {
            padding: 20px;

            .links {
                margin-top: 30px;
                text-align: center;
                margin-bottom: 0px;

                a {
                    display: inline-block;

                    &:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .mobile {
        display: block;
    }

    #about-content .work .item {
        height: 250px;
        @include transform(translate(0));
        opacity: 1;
    }
}
